<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoCellHeight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7C4B4D61E8F77C700F960AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C4B4EF1E8F77C700F960AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C4B4FA1E8F77C700F960AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
